@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

body {
  font-family: 'Shantell Sans';
  margin: 0px;
}

.navbar {
  background-color: gold;
  display: grid;
  grid-template-columns: 125px 3fr 1.5fr;
  height: 100px;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.smaller {
  font-size: 0.8rem;
}

.menu-item {
  margin: 20px 5px;
}

.link {
  color: black;
  text-decoration: none;
  border: 2px solid gold;
  border-radius: 8px;
}

.link:hover {
  background-color: rgb(209, 178, 0);
  border: 2px solid black;
  border-radius: 8px;
}

.link:active {
  color: rgb(209, 178, 0);
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 8px;
}

.login {
  width: 50px;
}

.signup-error {
  color: rgb(187, 0, 0);
}

.popup {
  display: none;
  background-color: gold;
  padding: 5px;
  position: absolute;
  left: 20%;
  top: 20%;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 5px black;
}

.popup-close {
  background-color: white;
  padding: 1px 4px;
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}

.popup-close:hover {
  background-color: lightgrey;
}

.popup-close:active {
  background-color: black;
  color: white;
}

.card-wrapper {
  background-color: rgb(253, 221, 152);
  padding-top: 10px;
  height: calc(100vh - 110px);
}

.carddw {
  position: relative;
  left: 25%;
  border: 2px solid black;
  border-radius: 5px;
  width: 250px;
  height: 260px;
}

.carddw-header {
  background-color: gold;
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.aligh-right {
  padding: 2px;
  text-align: right;
}

.carddw-contentsdw {  
  background-color: white;
  padding: 2px;
  text-align: center;
  height: 205px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}

.carddw-contents {
  background-color: white;
  padding: 2px;
  text-align: center;
  height: 229px;
  position: relative;
}

.carddw-contents2 {
  background-color: white;
  padding: 5px;
  height: 223px;
}

#carddw-input {
  font-family: 'Shantell Sans';
  margin: 5px;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;  
}

.carddw-note {
  position: absolute;
  bottom: 5px;
  text-align: left;
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1px;
  font-size: 0.8rem;
}

.admin-data-grid {
  display: grid;
  grid-template-columns: 35% 1fr;
}

.alldata-normal {
  background-color: rgb(253, 221, 152);
  padding: 5px;
  height: calc(100vh - 110px);
}

.alldata-admin {
  background-color: rgb(255, 213, 157);
  padding: 5px;
}

.inicio-main {
  background-color: rgb(253, 221, 152);
  height: 100%;
}

.inicio-card {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.inicio-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.inicio-flex1 {
  text-align: center;
}

.inicio-flex2 {
  text-align: center;
}

.inicio-flex3 {
  text-align: center;
}

.inicio-padding {
  padding: 5px;
}

.inputs {
  font-family: 'Shantell Sans';
  width: 170px;
  margin-bottom: 2px;
}

.input-checkbox {  
  font-family: 'Shantell Sans';
  font-size: 2rem;
}

button {
  font-family: 'Shantell Sans';
  margin-top: 5px;
  border: 2px solid gold;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(209, 178, 0);
  border: 2px solid black;
}

button:active {
  color: rgb(209, 178, 0);
  background-color: rgb(0, 0, 0);
}

button:disabled {
  color: rgb(190, 190, 190);
}

button:disabled:hover {
  background-color: rgb(233, 233, 233);
  border: 2px solid gold;
}

button:disabled:active {
  color: rgb(190, 190, 190);
  background-color: rgb(233, 233, 233);
  border: 2px solid gold;
}